
.dotDiv {
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 10px;
}
.dotDiv div {
    height: 8px;
    width: 8px;
    border: 1px solid gray;
    background-color: #fff;
    border-radius: 50%;
}
.healthSliderDiv {
    border: 1px solid green;
    display: flex;
    margin-bottom: 40px;
    width: 95vw;
    position: relative;
    overflow: scroll;
    transition: 0.3 ease-in-out;
    padding: 1rem;
    height: 300px;
}
.healthSliderDiv > div {
    border: 1px solid #8dad3c;
    /* width: 500px; */
    display: grid;
    grid-template-columns: repeat(4,calc(500px));
    gap: 20px;
    place-items: center;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    /* transform: translate(-50%, 50%);  */
    /* width: calc(500px*4);*/

}
.healthSliderDiv img {
    width: 500px;
}
/* .healthSliderDiv::before {
    content: "";
    border: 1px solid blue;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 30px;
    z-index: 3;
}
.healthSliderDiv::after {
    content: "";
    border: 1px solid green;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 30px;
} */