.main {
	position: relative;
	margin: auto;
}
.container {
	overflow: hidden;
	height: 100%;
	width: 100%;
}
.imageContainer {
	display: flex;
	width: fit-content;
	height: 100%;
	transition: 0.3s;
}
.buttons button {
	width: fit-content;
	height: fit-content;
	border: none;
	padding: 0;
	background: none;
	color: black;
}
.main button i {
	font-size: 200%;
	opacity: 0.8;
}
.buttons {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: space-between;
	top: 50%;
	transform: translateY(-50%);
}