/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#boxshadow{
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  margin-bottom: 20px;
  padding: 20px;
}
.webkit::-webkit-scrollbar {
  width: 10px;
  background-color: #f1f1f1;
  border-radius: 10px;
}
.webkit::-webkit-scrollbar-thumb {
  background: #dddde0;
  border-radius: 10px;
}

#boxshadow2{
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  height: fit-content;
  
  padding: 20px;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,700;0,900;1,200;1,300;1,400;1,700;1,800&display=swap');
.App {
  font-family: 'Lato', sans-serif;
}

